@use "../../../styles/index" as * ;

.container {
    @include container-style(50px 130px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}



/* Responsive: Reduce padding */
@media (max-width: 768px) {

    .container {
        @include container-style(20px 20px);

    
    }

}