// src/styles/_variables.scss

// Font Families
$font-poppins: 'Poppins', sans-serif;
$font-mulish: 'Mulish', sans-serif;
$font-dancing: 'Dancing Script', cursive;


// Color Palette
$primary-color: #232323;
$deep-green: #036D3D;
$light-green: #1FD563;
$very-light-green: #F4FFF4;
$btn-green: #008001;
$orange: #B5751B;
$bg-green: #F2FFF2;
$bg-gray: #FAFAFA;
