@use "../../styles/index" as *;

.container {
    @include container-style(20px 130px);
    background-color: #fff;


    .ctaWrapper {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;

        .logo {
            width: 114px;
        }

        .mainText {
            color: #fff;
            font-family: $font-mulish;
            font-weight: 900;
        }

        small {
            color: $orange;
        }
    }
}

@media (max-width: 768px) {

    .container {
        @include container-style(15px 20px);
        min-height: auto;

         .ctaWrapper {
        padding: 10px;
    }


    }
}