.collapsableBox {

  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #f3f4f6;
  margin-bottom: 1.5rem;


}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.title {
  color: #4b5563;
  font-size: 0.875rem; // sm
  font-weight: 500;

}

.actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.toggle {
  color: #6b7280;
  font-size: 0.875rem;
  transition: color 0.2s ease;

  &:hover {
    color: #374151;
  }

  svg {
    display: inline;
    margin-right: 0.25rem;
  }
}



.icon {
  margin-right: 0.25rem;
}

.content {
  overflow-x: auto;
}


@media (max-width: 768px) {

  .collapsableBox {

    padding: 1.5rem;

  }

  .header {

    flex-direction: row;
    align-items: center;

  }

  .title {
    font-size: 1rem; // base
  }


}