@use "../../../styles/index" as *;

.container {
    @include container-style(0px 130px);
    padding-bottom: 80px;

    .contentWrapper {
        width: inherit;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .goBackBtn {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-top: 15px;
            color: $btn-green;
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
        }

        .titleDetails {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;

            .titleDetailsLeft {
                display: flex;
                flex-direction: column;
                gap: 2px;

                small {
                    font-size: 12px !important;
                }

                .mainTitle {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    text-align: left !important;

                    span {
                        font-size: 12px;
                    }

                }
            }

            .titleDetailsRight {
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    color: $orange;
                    font-weight: 500;
                }
            }
        }

    }



    .bottomSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        .footerDetails {
            border: 1px solid lightgray;
            width: 100%;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            background-color: $very-light-green;

        }
    }

    button {
        width: inherit;
        text-transform: capitalize;
        border-radius: 4px;
    }

}



/* Responsive: Reduce padding */
@media (max-width: 768px) {

    .container {
        @include container-style(0px 20px);
        padding-bottom: 40px;
        
        .titleDetails{
            gap: 30px;
       
        .titleDetailsLeft{
          

            small{
                font-size: 8px !important;

            }

            .mainTitle{
           
                p{
                    font-size: 14px !important;
                }
                span{
                    font-size: 8px;
                }
            
            }
        }

        .titleDetailsRight{


          p{
           font-size: 12px;

          }
          small{
            font-size: 10px;
          }
        }
         }


        .bottomSection {
            margin-top: 10px;
            align-items: stretch;

            .footerDetails {
                border: 1px solid lightgray;
                width: 100%;
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 8px;
                color: #959595;

            }
        }


    }

}