@use "../../../../styles/index" as *;

.containerWrapper {
    @include container-style(40px 130px);
    background-color: #fff;

    .containerInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
        border: 1px solid #FAFAFA;
        padding: 20px;
    }

    .cards {
        margin-top: 30px;

        .serviceCard {
            width: 95% !important;
            margin: 20px;

        
            div {
                border-top-left-radius: 62px;
                border-top-right-radius: 62px;
                overflow: hidden;
              
            }



        }


    }

}

@media (max-width: 768px) {

    .containerWrapper {
        @include container-style(40px 20px);


    }

}